<!DOCTYPE html>
<html>
<head>
  <title>Benefaction</title>
  <%= stylesheet_link_tag    'application' %>
  <%= stylesheet_link_tag    'form' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
