<!DOCTYPE html>
<html>
	<head>
		<style>
			body{ background-color:#D8D8D8; }
		</style>
	</head>
	<body>
		<table bgcolor="white" border="1" cellpadding="2" cellspacing="0">
			<thead>
				<tr>
					<td>Amount</td>
					<td>Purpose</td>
					<td>Account Id</td>
					<td>Edit</td>
					<td>Destroy</td>
				</tr>
			</thead>
			<tbody>
					<% for expense in @expenses %>
				<tr>
						<td><%= expense.amount %></td>
						<td><%= expense.purpose %></td>
						<td><%= expense.account_id %></td>
						<td><%= link_to 'edit',edit_account_expense_path(@account,expense)%></td>
						<td><%= link_to 'delete',account_expense_path(@account,expense),
								method: :delete,data: {confirm: 'Are you sure?'} %></td>
				</tr>
					<% end %>
			</tbody>
		</table>
	</body>
</html>
<%= link_to 'Create new expense',new_account_expense_path(@account,expense) %>